# Python Einführung
Intro via Library Capentry

In [1]:
print("hello world!")

hello world!

In [2]:
# Kommentar
print("etwas")

etwas

In [3]:
print("etwas")
#print("etwas anderes")

etwas

In [6]:
name="Lovelace"

In [8]:
print (name)

Lovelace

In [9]:
size = 1.7123 #float, Gleitkommezahl, muss mit Punkt geschrieben werden

In [10]:
knows_math = True

In [11]:
print(knows_math)

True

In [12]:
likes_math = False

In [14]:
print(likes_math)

False

In [15]:
likes_math

False

In [16]:
type(name) #bei String kommt str

str

In [17]:
x = 2

In [18]:
type(x;name;knows_math)

SyntaxError: invalid syntax (<ipython-input-18-3931e227cf2d>, line 1)

In [19]:
type (x)

int

In [20]:
type (knows_math)

bool

In [21]:
print(type(name))

<class 'str'>

In [22]:
type(size)

float

In [23]:
5 + 5

10

In [24]:
age=73

In [25]:
100*age

7300

In [26]:
name + name

'LovelaceLovelace'

In [27]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [28]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [29]:
str(age)

'73'

In [30]:
age = str(age)

In [31]:
print(age)

73

In [32]:
type(age)

str

In [33]:
len(name)

8

In [34]:
name.upper()#macht aus jedem Teil des Objekt einen Großbuchstaben

'LOVELACE'

In [35]:
name.lower()

'lovelace'

In [36]:
print(name)

Lovelace

In [37]:
name_upper = (name.upper())

In [39]:
name_upper

'LOVELACE'

In [40]:
name.count("e")#zählt, wie oft das e in Lovelace vorkommt

2

In [43]:
name.replace("lace", " is everywhere")#zwei Argumente getrennt über Komma, positional Argument da durch Position festgelegt, was ersetzt wird

'Love is everywhere'

In [44]:
name.count?

In [45]:
!who

Der Befehl "who" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [46]:
%who #gibt die belegten Variablen aus, %gibt Jupyter Notebook-Befehle aus

age	 knows_math	 likes_math	 name	 name_upper	 size	 x

## Listen und Dictionaries

In [10]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [2]:
names[1]

'Darwin'

In [3]:
len(names)

4

In [4]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [5]:
names[0:2]

['Lovelace', 'Darwin']

In [6]:
names[2:]

['Curie', 'Hawking']

In [11]:
names_2 = [[1,2,3] , "Darwin", "Curie"]

In [12]:
names_2 [0][1]

2

In [13]:
first_and_last = [names[0], names[-1]]

In [14]:
first_and_last

['Lovelace', 'Hawking']

In [15]:
#Dictionary
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1882}
#Zuweisung von Schlüssel und Wert (ginge auch ein String als Wert, oder Liste oder Dictionary)

In [16]:
authors_and_birth_years["Darwin"]#Auswahl Wert eines Elements über Names des Elements

1809

In [17]:
authors_and_birth_years.values()

dict_values([1882, 1809, 1882])

In [18]:
for person in names: #Verwendung vorhandener Variabel, Schleife: solange eingerückt innerhalb Schleife
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [19]:
for person in names:
    print(person + " did awesome stuff.")
    print ("------------------------------")
print (".....................................") #nicht mehr in der Schleife

Lovelace did awesome stuff.
------------------------------
Darwin did awesome stuff.
------------------------------
Curie did awesome stuff.
------------------------------
Hawking did awesome stuff.
------------------------------
.....................................

## Bedingte Anweisungen (Conditionals)

In [20]:
temp = 20
if temp > 15: #if schaut nur, ob etwas wahr oder falsch ist, falls True: weiter zu print
    print ("it's warm")

it's warm

In [21]:
20 > 15

True

In [22]:
temp = 10
if temp > 15:
    print("it's warm")
else: #hier wird keine Bedingung angegeben, weil else in jeder anderen Bedingung
    print("it's cold")

it's cold

In [23]:
temp = 10
if temp >= 25: #auf Doppelpunkt achten
    print("it's hot")
elif temp >= 15: #elseif
    print ("it's warm")
else: #hier wird keine Bedingung angegeben, weil else in jeder anderen Bedingung
    print("it's cold")
#falls 25 oder höher geht zu print und nicht durch elseif oder else
#falls nicht höher 25 aber höher 15: bleibt bei elseif, sonst geht's zu else

it's cold

In [24]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882}